# Output files
## OCaml
/obj/lib/*
/obj/test/*/*
/obj/examples/*
/lib/*

# Test executables
/test/*/*

# Development files
.gdb_history
.vscode

# Tree
!.gitkeep

# Examples
/examples/*
!/examples/*.ml
!/examples/*.wat
!/examples/*.wasm
